*{
    box-sizing: border-box;
}

body{
  margin: 0;
}
/*  Large devices (desktops, 992px and up) */
/*Header*/
.background-over{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
}

header{
  width: 100%;
  height: 100vh;
  background-image: url("../images/HeaderBackground1920x1280.jpg");
  font-family: 'Ubuntu', sans-serif;
}

.content-header, .introduction{
  position: relative;

}

/*content-header part*/
.content-header{
  padding-top: 20px;
}

.content-header h1{
  margin:0;
  color:#F33E57;
}

#logo{
  float:left;
  padding-left: 5%;
}

header ul{
  float:right;
  padding-right: 5%;
}

header ul li {
  float:left;
  height: 50px;
  list-style: none;
  padding-right:50px;
}

header ul li a {
  text-decoration: none;
  color:white;
}

/*introduction part*/


.introduction{
  margin-top: 10%;
  padding: 10% 25% ;
  color:white;
}

.introduction h1{
  font-size: 45px;
  line-height: 40px;
}

.introduction h5{
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}




/*parts of services*/
main > h1 {
  text-align: center;
  color:#4A4C4B;
  font-size: 60px;
}

main{
  margin: 0 auto;
  padding: 10px;

}

main .part-services{
  float: left;
  width: 25%;
  text-align: center;
  padding: 10px;

}


main h3{
  font-size: 25px;
}

.part-services p{
  font-size: 14px;
  line-height: 22px;
  padding: 0;
  text-align:justify;
}


                  /*  Start here  */
/* --------- START THE CODE HERE ------- */


/*  Small devices (phones, 576px and up) */
@media only screen and (max-width: 576px) {
  #logo{
    float: none;
  }
  header ul{
    float: none;
  }
  header ul li {
    float: none;
    width: 100%;
    height: 35px;
    text-align: center;
  }
  .introduction{
    margin: 0;
    padding: 30px;
    text-align: left;
  }
  .introduction h1{
    padding-top: 5px;
    font-size: 25px;
  }
  .introduction h5{
    font-size: 15px;
  }
  main .part-services{
    float: none;
    width: 100%;
   }
}
 /* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 577px) and (max-width:991px) {
  main .part-services{
    width: 50%;
    float:left;
  }
}
